.light-rays-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.light-rays-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}